## Requirements:

{% include 'requirements.md.j2' %}

---

-   [Requirements](#requirements)
-   [Installing](#installing)
-   [Usage](#usage)
-   [Library](#library)

## Installing

{% with pypi=pypi, repo=repo %}{% include 'install.md.j2' %}{% endwith %}

---

## Usage

{% include 'usage.md.j2' %}

---

## Library

{% include 'library.md.j2' %}