## Requirements:

{% include 'requirements.jinja' %}

---

-   [Requirements](#requirements)
-   [Installing](#installing)
-   [Usage](#usage)
-   [Library](#library)

## Installing

{% with pypi=pypi, repo=repo %}{% include 'install.jinja' %}{% endwith %}

---

## Usage

{% include 'usage.jinja' %}

---

## Library

{% include 'library.jinja' %}